<link rel="stylesheet" href="{{ asset('css/main.css') }}"/>

<div id="main" class="content">
    <p>Main content. Check out <a href="{{ path('erniuniu') }}">erNiuNiu</a>!</p>
    <p>Also click to check out <a href="{{ path('jibagong', {'hobby': 'guitar'}) }}">jibaGong's hobby</a>!</p>
    <p><a href="{{ path('pangcaicai', {'_format': 'json'}) }}">pangCaiCai</a></p>
    <p><a href="{{ path('test_request', {'p1': 'p1-value'}) }}">Test "Request"</a></p>
    <hr>
    <p><a href="{{ path('example_404') }}">A 404 page</a></p>
    <p><a href="{{ path('example_500') }}">A 500 page</a></p>

</div>

{{ render(controller('App:Content:bottom')) }}