{%- extends 'App::layout.html.twig' -%}

{%- block content -%}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>

    <div id="main" class="content">
        <p>Main content. Check out <a href="{{ path('erniuniu', {'session_name': 's1-name'}) }}">erNiuNiu</a>!</p>
        <p>Also click to check out <a href="{{ path('jibagong', {'hobby': 'guitar'}) }}">jibaGong's hobby</a>!</p>
        <p><a href="{{ path('pangcaicai', {'_format': 'json'}) }}">pangCaiCai</a></p>
        <p><a href="{{ path('test_request', {'p1': 'p1-value'}) }}">Test "Request"</a></p>
        <p><a href="{{ path('test_request_in_twig', {'p2': 'p2-value'}) }}">Test "app.request" in Twig</a></p>
        <hr>
        <p><a href="{{ path('example_404') }}">A 404 page</a></p>
        <p><a href="{{ path('example_500') }}">A 500 page</a></p>

    </div>

    {{ render(controller('App:Content:bottom')) }}

    {{ render(controller('App:Content:testSession', {'session_name': 's1-name', 'session_value': 's1-value'})) }}
{%- endblock -%}
